In [56]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

csv_data = pd.read_csv("bankCustomer.csv")
array = csv_data.values

X = array[:,2:6]
Y = array[:,1:4]

In [57]:
print(csv_data)

    customerId geography  gender    balance  age  CreditScore
0     15634602    France  Female       0.00   42          619
1     15647311     Spain  Female   83807.86   41          608
2     15701354    France  Female  159660.80   42          502
3     15619304    France  Female       0.00   39          699
4     15737888     Spain  Female  125510.82   43          685
5     15574012     Spain    Male  113755.78   44          645
6     15592531    France    Male  115046.74   50          682
7     15656148   Germany  Female  142051.07   29          376
8     15792365    France    Male  134603.88   44          501
9     15592389    France    Male  102016.72   27          684
10    15767821    France    Male       0.00   31          528
11    15737173     Spain    Male       0.00   24          497
12    15632264    France  Female       0.00   34          476
13    15691483    France   Femal       0.00   25          549
14    15600882     Spain  Female  143129.41   35          635
15    15643966   Germany    Male  132602.88   45          616
16    15737452   Germany    Male       0.00   58          653
17    15788218     Spain  Female       0.00   24          549
18    15661507     Spain    Male       0.00   45          587
19    15568982    France  Female       0.00   58          736

In [58]:
dataset = pd.DataFrame({
    'Customer ID': array[:, 0],
    'Geography': array[:, 1],  # Modify the column index accordingly if needed
    'Gender': array[:, 2],
    'Balance': array[:, 3],
    'Age': array[:, 4],
    'Credit Score': array[:, 5]
})

print("Sebelum di-Normalisasi:")
print(dataset.head(20))

min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))  # Inisialisasi normalisasi MinMax
data = min_max_scaler.fit_transform(array[:, 4:6])  # Transformasi MinMax untuk fitur Balance dan Age

dataset['Balance'] = data[:, 0]
dataset['Age'] = data[:, 1]

print("Setelah di-Normalisasi:")
print(dataset.head(20))

Sebelum di-Normalisasi:
   Customer ID Geography  Gender    Balance Age Credit Score
0     15634602    France  Female        0.0  42          619
1     15647311     Spain  Female   83807.86  41          608
2     15701354    France  Female   159660.8  42          502
3     15619304    France  Female        0.0  39          699
4     15737888     Spain  Female  125510.82  43          685
5     15574012     Spain    Male  113755.78  44          645
6     15592531    France    Male  115046.74  50          682
7     15656148   Germany  Female  142051.07  29          376
8     15792365    France    Male  134603.88  44          501
9     15592389    France    Male  102016.72  27          684
10    15767821    France    Male        0.0  31          528
11    15737173     Spain    Male        0.0  24          497
12    15632264    France  Female        0.0  34          476
13    15691483    France   Femal        0.0  25          549
14    15600882     Spain  Female  143129.41  35          635
15    15643966   Germany    Male  132602.88  45          616
16    15737452   Germany    Male        0.0  58          653
17    15788218     Spain  Female        0.0  24          549
18    15661507     Spain    Male        0.0  45          587
19    15568982    France  Female        0.0  58          736
Setelah di-Normalisasi:
   Customer ID Geography  Gender   Balance       Age Credit Score
0     15634602    France  Female  0.529412  0.675000          619
1     15647311     Spain  Female  0.500000  0.644444          608
2     15701354    France  Female  0.529412  0.350000          502
3     15619304    France  Female  0.441176  0.897222          699
4     15737888     Spain  Female  0.558824  0.858333          685
5     15574012     Spain    Male  0.588235  0.747222          645
6     15592531    France    Male  0.764706  0.850000          682
7     15656148   Germany  Female  0.147059  0.000000          376
8     15792365    France    Male  0.588235  0.347222          501
9     15592389    France    Male  0.088235  0.855556          684
10    15767821    France    Male  0.205882  0.422222          528
11    15737173     Spain    Male  0.000000  0.336111          497
12    15632264    France  Female  0.294118  0.277778          476
13    15691483    France   Femal  0.029412  0.480556          549
14    15600882     Spain  Female  0.323529  0.719444          635
15    15643966   Germany    Male  0.617647  0.666667          616
16    15737452   Germany    Male  1.000000  0.769444          653
17    15788218     Spain  Female  0.000000  0.480556          549
18    15661507     Spain    Male  0.617647  0.586111          587
19    15568982    France  Female  1.000000  1.000000          736